## Extracci√≥n de datos

In [1]:
import requests

url = "https://valencia.opendatasoft.com/api/explore/v2.1/catalog/datasets/estacions-contaminacio-atmosferiques-estaciones-contaminacion-atmosfericas/records"
try:
    response = requests.get(url, timeout=30)
    response.raise_for_status()
    data = response.json()  # dict con keys como 'results', 'total_count'
except:
    print("Error en la conexion")

In [2]:
# get n clean df
import pandas as pd
df = pd.DataFrame(data["results"])
cleaned_df = pd.DataFrame(df[["objectid", "nombre","direccion", "tipozona","no2", "pm10", "pm25", "tipoemisio", "fecha_carg", "calidad_am", "fiwareid"]])

In [15]:
# connect to postgresql
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os

churro = 'postgresql://postgres:mysecretpassword@localhost:5432/postgres'
engine = create_engine(churro)
cleaned_df.to_sql("cleaned_df", engine, if_exists="replace", index=False)
os.makedirs("../data/raw", exist_ok=True)
cleaned_df.to_csv("../data/raw/raw_data.csv", index=False)

In [7]:
query = "SELECT fiwareid, fecha_carg FROM cleaned_df ORDER BY fecha_carg desc"
pd.read_sql(query, engine)

              fiwareid                 fecha_carg
0      A11_PATRAIX_60m  2025-10-15T15:00:00+00:00
1   A04_PISTASILLA_60m  2025-10-15T15:00:00+00:00
2     A08_DR_LLUCH_60m  2025-10-15T15:00:00+00:00
3   A05_POLITECNIC_60m  2025-10-15T15:00:00+00:00
4       A06_VIVERS_60m  2025-10-15T15:00:00+00:00
5    A01_AVFRANCIA_60m  2025-10-15T15:00:00+00:00
6  A02_BULEVARDSUD_60m  2025-10-15T15:00:00+00:00
7     A09_CABANYAL_60m  2025-10-15T15:00:00+00:00
8    A10_OLIVERETA_60m  2025-10-15T15:00:00+00:00
9      A03_MOLISOL_60m  2025-10-15T15:00:00+00:00

In [ ]:
query = "SELECT fiwareid, fecha_carg FROM cleaned_df ORDER BY fecha_carg desc"
x = pd.read_sql(query, engine)
print(x)
i = 0

2025-10-15T15:00:00+00:00